

.btn-calculator {
	position: absolute;
	top: 0;
	right: 0;
	background-color: $color-step;
	border-radius: 4px;
	width: 25px;
	height: 25px;
	text-align: center;
	border: none;
	line-height: 25px;
	img {
		width: 13px;
		height: 12px;
	}
	&:focus, &:active, &:focus:active {
		outline: none;
	}
	&:hover {
		background-color: #b6b5d8;
		cursor: poiner;
	}
	@media (max-width: $breakpoint-mobile) {
		display: none;
	}
}
