.balance-profile {
  position: fixed;
  top: 100px;
  width: 330px;
  right: 0;
  bottom:0;
  box-shadow: 0 0 10px 0 rgba(135, 118, 255, 0.15);
  background-image: linear-gradient(33deg, #1c1442, #2a2057);
  &::before {
     background-color: rgba(0, 0, 0, 0.54);
     content: '';
     position: fixed;
     left: 0;
     top: 100px;
     right: 330px;
     bottom: 0;
  }
}
